body{
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
  margin: 35px;
  
}

h1{
  font-size: 50px;
  
}

.color{
  color: rgb(93, 93, 182);
}

section{
  display: flex;
  margin-bottom: 150px;
}

.changes{
  width: 60%;
  padding-left: 15%;
}
 .changes img{
   height: 90%;
   width: 80%;
 }

 .button{
   text-decoration: none;
   background-image: linear-gradient(rgb(90, 52, 161), rgb(36, 54, 112) );
   padding: 10px 40px;
   color: darkolivegreen;
   font-weight: 700;
   border-radius: 8px;
 }

 .banner{
   background-image: url(Images/top-banner.png);
   background-repeat:no-repeat;
 }  

 .middle{
   background-image:url(images/dream-bg.png);
   background-repeat:no-repeat;
   background-position: right;
 }


 .marjin{
   margin-right: 30px;
 }

 .leo{
   width: 50%;
   padding-left: 2%;
   box-shadow: 10px 10px 30px gray;
   border-radius: 5px;
   margin-right: 5%;
   margin-left: 5%;
   
  
 }

 h3{
   color: tomato;
   font-size: 25px;
 }

 .last{
   background-image: url(Images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
 }

 #fuck{
   border-image-slice: 1;
   border-left: 10px solid;
   background-image: linear-gradient(rgb(37, 141, 182), rgb(223, 124, 218));
  
  }

#luck{
  border-image-slice: 1;
   border-left: 10px solid;
   background-image: linear-gradient(rgb(79, 138, 31), rgb(197, 211, 137));
} 

footer{
  text-align: center;
}